body {

    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* .navbar {
    height: 5rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
} */

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a :hover {
    text-decoration: underline;

}

.f-info-links {
    width: 100%;
    font-size: 1.2rem;


}

.f-info-links,
.f-info-social,
.f-info-brand {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-social-i {
    margin-right: 1rem;
}

.f-info-social {
    width: 100%;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: rgb(240, 240, 240);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;


}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;

}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none;
}

.show-image {
    height: 30vh;

}

.btns {
    display: flex;
}

/* map */
#map {
   
    height: 400px;
    width: 100%;
    
}